.logo {
  width: 90px;
  height: 70px;
  padding: 10px 10px 10px 0px;
}

i {
  font-size: 30px;
  margin-left: 10px;
}

html {
  scroll-behavior: smooth;
}

.nav-link {
  font-weight: bold;
}

.navbar {
  padding: 0px;
}

#theme {
  margin-left: 10px;
  margin-right: 20px;
}

@media only screen and (max-width: 600px) {
  #theme {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
  }

  #navbarNavAltMarkup {
    transition: all 0.5s ease-in-out;
  }

  .container-fluid {
    padding-left: 20px;
  }
}
